.textType {
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  white-space: pre-wrap;
  color: white;
}

.textTypeCursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
  font-size: 3rem;
}

.textTypeCursorHidden {
  display: none;
}

